body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange{
    color: orange;
}
.flexiblae-container{
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    text-align: center;
    background-image: linear-gradient(orange,tomato);
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
}
.download{
    text-decoration: none;
    padding: 10px 40px;
    text-align: center;
    background-image: linear-gradient(lightsalmon,tomato);
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
}
.dream-big{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-text{
    padding-right: 28px;

}
.experince-area{
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.box{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 2%;
    border-radius: 10px;
    border-left: 7px solid red;
}
.box-left{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 2%;
    border-radius: 10px;
    border-left: 7px solid blue;
}
footer p{
    text-align: center;
}